.Workflowview {
    background-color: black;
    padding: 20px;
    color: #03A062;
   
  }

  .Workflowviewtop {
    font-size: 50;
    display: flex;
    justify-content: space-between; /* Align items on the same row */
    align-items: center; /* Vertically center items */
  }
  

  .WorkflowSequenceViewinput
  {
    margin-bottom: 10px;
    margin-top: 10px;
    width:50px;
   
  }
  
  .WorkflowViewinputname
  {
    margin-bottom: 10px;
    margin-top: 10px;
    width:800px;
   
  }

  .WorkflowViewinput
  {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .actionbutton {
    margin-right: 5px;
    display: inline-block;
  }

  .Markdowninput
  {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: black;
    color: #03A062;
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
  }
  .editorButton {
    margin-bottom: 5px;
    display: inline-block;
  }
  
  