/* ContextMenu.css */

.context-menu {
    position: absolute;
    left: -1000px;
    z-index: 999; /* Ensure it's above other elements */
    background-color: #ccc;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(37, 2, 2, 0.1);
    font-size: 14px;
    max-width: 200px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 5px; /* Adjust the padding as needed */
  }

  .menu-icon {
    margin-right: 10px; /* Add space between the icon and text */
    font-size: 24px; /* Adjust the font size of the icon */
    color: rgb(104, 103, 103); 
  }

  .menu-separator {
    display: flex;
    align-items: center;
    border-top: 1px solid black; /* You can adjust the color and thickness as needed */
    margin-left: 15px;
    margin-right: 15px; /* Adjust the margin to control the spacing above and below the separator */
    height: 0;
  }
  
  
  .menu-text {
    margin: 0; /* Reset default margin for the text */
    font-size: 16px; /* Adjust the font size of the text */
    color: black;
  }

  
  
  
  
  
  

  .context-menu div {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .context-menu div:hover {
    background-color: #f0f0f0;
  }
  
  /* You can add more styles as needed to match your design */
  