.topbarContainer {
  height: 40px;
  width: calc(100vw - 16px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(66, 65, 65);
  border-bottom: 1px green;
}

.topbarLeft {
  flex: 5;
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
 
}

.logotext {
  font-size: 150%;
  margin-left: 20px;
  cursor: pointer;
  width: 100%
  
}

.topbarCenter {
  flex: 2;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
 
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
