.code-container {
    background-color: black;
    padding: 0px;
    color: green;
   
  }

  .code-display
  {
    padding : 10px;
    background: black;
  }
  .copied
  {
    color: green;
  }

  .copy-button
  {
    float: left;
    margin: 10px;
  }