a {
    color: #03A062;
  }
label
{
 color: #03A062;
}

.explorerContainer
{
    color:#03A062;
    background: black;
    
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.tippy-box[data-theme~='terminal'] {
 background-color: rgb(66, 65, 65,0.95);
  color:rgb(144, 144, 144);
  font-size: small;
  max-height: 800px;
  overflow-y: auto;
}

.tippy-box3[data-theme~='terminal3'] {
  background-color: rgba(0, 0, 0, 0.8);
   color:rgb(120, 255, 150);
   max-width: 700px ;
 }

.tippy-box1[data-theme~='terminal1'] {
  background-color: rgba(117, 117, 117, 0.9); /* darkgray with 95% opacity */
   color: rgb(205, 235, 203);
   width: 800px !important;
 }



