.Workflowview {
    background-color: black;
    padding: 20px;
    color: #03A062;
   
  }

  .Workflowviewtop {
    font-size: 50;
    display: flex;
    justify-content: space-between; /* Align items on the same row */
    align-items: center; /* Vertically center items */
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-label {
    display: inline-block;
    width: 140px; /* Fixed width for labels */
    text-align: left;
  }

  .WorkflowViewNameinput
  {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    background-color: #ccc;
    margin-left: 10px;
  }

  .WorkflowViewStatusinput
  {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: #ccc;
    margin-left: 10px;
  }

  .WorkflowViewSequenceinput
  {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 30px;
    background-color: #ccc;
    margin-left: 10px;
  }
  

 

  .actionbutton {
    margin-right: 5px;
  }

  .Markdowninput
  {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: black;
    color: #03A062;
    border: 1px solid #ccc;
    
  }
  .editorButton {
    margin-bottom: 5px;
  }
  
  