.chat-container {
    background-color: black;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    
    align-items: left;
    height: calc(30vh - 60px);
    font-family: 'Fira Code', monospace;
    overflow-x:auto;
    overflow-y:auto;
    color: #98FF98;
    padding: 10px;
  }
  
  .input-container {
    display: flex;
    flex-direction: row;
    align-items: Left;
    margin-bottom: 10px;
    width: 90%;
  }
  
  #input-field {
    background-color: rgb(51, 51, 51);
    color: #03A062;
    border: none;
    caret-color: #03A062;
    outline: none;
    margin-right: 10px;
    width: 650px;
  }
  
  #response-container {
    background-color: rgba(0, 0, 0, 0.7);
    color: #03A062;
    
    display: none;
    
    text-align: left;
    white-space: normal;
    width: 650px;
    max-height: 200px;
    overflow-y: auto;
    
  }
  
  #response-container.show-response {
    display: block;
  }
  