.tree-node {
    color: #03A062;
    cursor: pointer;
  }
  
  /* Apply indentation for child nodes */
  .child-node {
    margin-left: 40px;
    color: #03A062;
  }
  
  .workflow {
    color: #03A062;
    margin-left: 30px;
    cursor: pointer;
  }

  /* Set up a main container to hold the left and right panels */
  .main-container {
    height: 100vh; /* Use the full viewport height */
    width: 100%;
    display: flex;
  }
  
  .right-container {
    flex: 7; /* Set the flex property to 8 for 70% width */
    display: flex;
    flex-direction: column;
    width: 100vh;
    
  }
  
  /* Style the left panel */
  .left-container {
    width: 20%;
    height: 100%;
    min-width: 350px;
    padding: 10px;
  }
  

  

/* Style the right panel (explorer-view) */
.graph-view {
 height:40%;
 width: 100%;
 flex: 3; /* Don't flex, maintain the specified height */
 
  
}

/* Style the lower panel separately */
.lower-panel {
  display: flex;
  border: 1px solid #03A062;
  flex: 8;
  flex-direction: row;
  
}

.lower-left-panel {
  border: 1px solid #03A062;
  width: 70%;

}

.lower-right-panel {
  
  
  color: #03A062;
  background-color: white;
  width: 30%;

}

.context-menu-icon {
  color: white;
  background: #03A062;
  margin: 5px;
  cursor: pointer;
  width: 25px;
  height:20px;
}

.icon-right-align {
  display: flex;
  justify-content: flex-end;
}

.open-modal-button {
  margin-right: 5px;
  background-color: #ccc;
}

.title-wrap {
  text-align: center;
}

.title-bot {
  color: #03A062;
  text-decoration: underline;
}










