.tree-node {
    color: #03A062;
    cursor: pointer;
  }
  
  /* Apply indentation for child nodes */
  .child-node {
    margin-left: 40px;
    color: #03A062;
  }
  
  .workflow {
    color: #03A062;
    margin-left: 30px;
    cursor: pointer;
  }

  /* Set up a main container to hold the left and right panels */
  .main-container {
    height: calc(100vh - 51px);
    display: flex;
    color:#03A062;
    background: black;
  }

  input {
    color: #03A062;
    background-color: rgb(51, 51, 51);
  }

  select {
    color: #03A062;
    background-color: rgb(51, 51, 51);
  }

  textarea {
    color: #03A062;
    background-color: rgb(51, 51, 51);
  }
  

  
  /* Style the left panel */
  .left-container {
    width: 20%;
    height: calc(100vh - 80px);;
    min-width: 350px;
    padding: 10px;
  }
  

  

/* Style the right panel (explorer-view) */


/* Style the lower panel separately */


.middle-panel {
 
  max-width: 45%;
  height: calc(100vh - 40px);
  
}

.lower-middle-panel {
 display: flex;
  
  /*height: 475px; */
 
  height: 100%;
  width: 100%;
  
}

.botpanel {
  height: 100%;
  width: 100%;
  border-left: 1px solid #03A062;
  border-right: 1px solid #03A062;
  border-bottom: 1px solid #03A062;
  overflow: hidden;
}

.view-panel {
 
  width: 35%;
  
  overflow: auto;
  z-index: 1;
  height: 100%;
 
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 20px;
  
}

.graph-view {
 
  width: 100%;
  
  /*height: 300px; */
 }





.context-menu-icon {
  
  color: white;
  background: #03A062;
  cursor: pointer;
  width: 25px;
  height:20px;
}

.tree-context-menu-icon {
  
  color: white;
  background: #03A062;
  cursor: pointer;
  width: 25px;
  height:20px;
}

/* .icon-right-align {
  display: flex;
  justify-content: flex-end;
  background-color: black;
} */

.tree-icon-right-align {
  position: absolute;
  top: 48px;
  right: 1200px;
  z-index: 2; 
  /* Add other styling for the icon */
}

.icon-right-align {
  position: absolute;
  top: 48px;
  right: 52px;
  z-index: 2; 
  /* Add other styling for the icon */
}

button {
  margin-top: 0px;
  margin-right: 5px;
  color: #03A062;;
  background-color: rgb(51, 51, 51);
  margin-bottom: 3px
}

.title-wrap {
  text-align: center;
}

.title-bot {
  margin-top: 10px;
  color: #03A062;

}










