/* ContextMenu.css */

.context-menu-tree {
    position: absolute;
   
    left: -1000px;
    
    z-index: 2000; /* Ensure it's above other elements */
    background-color: #ccc;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(37, 2, 2, 0.1);
    font-size: 14px;
    max-width: 200px;
  }

  .context-menu-sub-tree {
    position: absolute;
   
    left: -1000px;
    
    z-index: 2000; /* Ensure it's above other elements */
    background-color: #ccc;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(37, 2, 2, 0.1);
    font-size: 14px;
    max-width: 300px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 5px; /* Adjust the padding as needed */
  }

  .menu-icon {
    margin-right: 10px; /* Add space between the icon and text */
    font-size: 24px; /* Adjust the font size of the icon */
    color: rgb(104, 103, 103); 
    display: flex;
    align-items: center; /* Center-align the icons vertically */
  }

  .menu-separator {
    display: flex;
    align-items: center;
    border-top: 1px solid black; /* You can adjust the color and thickness as needed */
    margin-left: 15px;
    margin-right: 15px; /* Adjust the margin to control the spacing above and below the separator */
    height: 0;
  }
  
  
  .menu-text {
  
    font-size: 14px; /* Adjust the font size of the text */
    color: black;
    align-items: center;
    line-height: 24px;
  }

  

  .context-menu-tree div {
    padding: 6px 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .context-menu-tree div:hover {
    background-color: #f0f0f0;
  }

  .context-menu-sub-tree div {
    padding: 6px 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .context-menu-sub-tree div:hover {
    background-color: #f0f0f0;
  }

  /* CSS */
  .menu-text-workspaces {
    display: flex; /* Use inline-flex to align items horizontally */
    align-items: center; /* Align items vertically in the center */
    font-size: 14px; /* Adjust the font size of the text */
    color: black;
    font-weight: bold; 
    justify-content: center;
}

.menu-text-workspaces2 {
  text-align: center; /* Centers the text horizontally within the div */
  font-size: 14px; /* Adjust the font size of the text */
  color: black;
  font-weight: bold; 
}

.menu-text-user
{
display: flex;
font-size: 14px;
color: black;
font-weight: bold; 
justify-content: right; /* Align items on the same row */
align-items: center; /* Vertically center items */
}

.menu-text-user svg {
  transform: translateY(-3px); /* Adjust this value to shift the icon up */
}

.menu-text-invitation
{
display: flex;
font-size: 14px;
color: black;
font-weight: bold; 
justify-content: right; /* Align items on the same row */
align-items: center; /* Vertically center items */
}

.menu-text-invitation svg {
  transform: translateY(-3px); /* Adjust this value to shift the icon up */
}

.menu-text-send {
  text-align: center; /* Centers the text horizontally within the div */
  font-size: 14px; /* Adjust the font size of the text */
 
}

  
  /* You can add more styles as needed to match your design */
  