

.apiEditor {
    display: flex; /* This turns on flexbox layout */
    justify-content:left; /* This centers the children horizontally */
    align-items:flex-start; /* This centers the children vertically */
    
    
}

.myFolder {

    margin-top: 10px;
    flex: 2; /* Takes up 2 parts of the flex container */
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: calc(100vh - 50px); /* Ensures the .myFolder doesn't exceed the viewport height */
    
}

.APIDetails
{
    margin-top: 10px;
    border: 2px solid green;
    flex: 3;
    background: black;
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: calc(100vh - 50px); /* Ensures the .APIDetails doesn't exceed the viewport height */
}
